/bin/
/CREDITS-fml.txt
/forge-1.7.10-10.13.2.1230-changelog.txt
/gradlew
/gradlew.bat
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/logs/
/eclipse/
/gradle/
/.gradle/
/.settings/
/.classpath
/.project
/build/
.metadata
/config/
/options.txt
/saves/
/usernamecache.json
/screenshots/
/out/
.idea/
/mods/
